<header class="navbar navbar-fixed-top" ng-controller="navCtrl">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">TrackFreaks.eu</a>
            <ul class="nav">
                <li class="active"><a href="#">News</a></li>
                <li><a href="#">Tracks</a></li>
                <li><a href="#">Organizations</a></li>
                <li><a href="#">Riders</a></li>
                <li><a href="#">Calendar</a></li>
            </ul>
        </div>
    </div>
</header>